/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
  /* VARIABLES */
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --light-grey: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);

  /* GENERAL STYLES */
  font-size: 10px;
  font-family: "Karla", Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1em;
  font-size: 1.6em;
  background-color: var(--light-grey);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-block-start: 0;
}

/* PRICE COMPONENT */
.price-component {
  width: 80%;
  max-width: 750px;
  box-shadow: 3px 4px 16px hsla(218, 22%, 67%, 0.4),
  -2px -3px 16px hsla(218, 22%, 67%, 0.4);
}

.price-component__header,
.price-component__subscription,
.price-component__features {
  padding: 1.5em;
}

/* PRICE COMPONENT HEADER */
.price-component__header {
  background-color: #fff;
}

.price-component__header h1 {
  color: var(--cyan);
  font-size: 2rem;
}

.price-component__header h2 {
  color: var(--yellow);
  font-size: 1.4rem;
}

.price-component__header p {
  color: var(--blue);
  font-size: 1.2rem;
}

/* PRICE COMPONENT BOXES */

/* PRICE COMPONENT SUBSCRIPTION */
.price-component__subscription {
  background-color: var(--cyan);
  color: #fff;
}

.price-component__subscription h2 {
  font-size: 1.6rem;
}

.price-component__subscription h3 {
  color: hsla(204, 43%, 93%, 0.6);
  font-size: 1.3rem;
  font-weight: 400;
}

.price-component__subscription h3 .price {
  display: inline-block;
  color: #fff;
  font-size: 3.5rem;
  padding-inline-end: 1rem;
}